@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    border: dotted 1px rgb(162, 159, 177);
}

body{
    margin: 0;
    padding: 0;
}

/* ELEMENTOS */

header{
    display: flex;
    flex-wrap: wrap;
    background-color: #F0A83E;
    justify-content: space-between;
    align-items: center;
}
.barra-anuncio{
    width: 100%;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    padding: 4px 90px;
}
#logo-top{ margin-left: 90px; }

#menu-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-right: 90px;
}
#menu-top li{ margin-left: 20px; }

.main-banner{
    width: 100%;
    height: 410px;
    display: flex;
    flex-wrap: wrap;
    background-image: url(/Clase-12_PetShop_Flexbox/img/banner-ppal-petshop.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-end;
    align-items: center;
}
.banner-cta{margin-right: 16px; text-align: center;}

footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #222222;
}
.suscribete{
    width: 100%;
    height: 60px;
    padding: 0px 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #F0A83E;
}
.suscribete h2{display: inline-block;}

.footer-pet{
    background-color: #3C2313;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.footer-item{
    display: flex
}

.footer-info { color: white;
    width: 170px;
}
.barra-cierre{
    width: 100%;
    height: 24px;
    text-align: center;
}

/* TEXTOS Y BOTONES */

h1, h2, h3, h4, p, li, button, input, select {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#titulo-anuncio{
    color: #F3F3F3;
    font-size: 12px;
}
#menu-top>li{
    color: white;
    font-size: 14px;
}
.banner-cta>h2{
    margin: 0;
    padding: 6px;
    border-radius: 6px;
    background-color: white;
    color: #222222;
    text-align: center;
    font-size: 30px;
}
.banner-cta>h1{
    margin: 18px;
    color: #222222;
    text-align: center;
    font-size: 18px;
}
.banner-cta>button{
    width: 140px;
    height: 50PX;
    background-color: #F0A83E;
    text-align: center;
    color: white;
    font-size: 16px;
}
.suscribete h2 {
    margin: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.suscribete input {
    width: 260px;
    height: 40px;
    padding: 10px;
    border-radius: 12px;
    background-color: white;
    color: #A0A0A0;
    font-size: 11px;
}
.suscribete button {
    height: 40px;
    padding: 10px;
    border-radius: 12px;
    background-color: #3C2313;
    color: white;
    text-align: center;
    font-size: 11px;
}
.footer-info h3{
    margin: 0px;
    padding: 0px;
}
.footer-info p{
    margin: 0px;
    padding: 0px;
}
.barra-cierre{
    margin: 0;
    color: #F3F3F3;
    font-size: 12px;
}
.barra-cierre a{ color: #F3F3F3; margin: 0; }