/* ELEMENTO */

.destacados{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#productos-destacados{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
}
#Cabecera-destacados{
    width: 100%;
    text-align: center;
    padding: 32px 0px;
}
#Cabecera-destacados i{
    color: #F0A83E;
    font-size: 67px;
}
.ul-destacados{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 4px;
}
.ul-destacados li{
    padding: 4px;
    margin: 0px 8px;
}
.ficha-producto {
    margin: 12px;
    background-color: #FBFAF6;
    border-radius: 4px;
    padding-bottom: 8px;
}

.contacto{
    margin: 32px 0px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.botones-form{
    display: flex;
    justify-content: space-around;
    margin: 12px 0px;
}

/* TEXTOS Y BOTONES */

.destacados h2 {
    margin: 0;
    color: #3C2313;
    font-size: 40px;
    font-weight: 700;
}

.destacados ul li {
    margin: 0;
    color: #666666;
    font-size: 15px;
}

.ficha-producto h3{
    width: 100%;
    color: #3C2313;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.ficha-producto p{
    width: 100%;
    color: #F0A83E;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin: 0px;
    padding: 0px;  
}
#contactanos {
    margin: 0;
    color: #3C2313;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.contacto input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 12px;
    background-color: #3C2313;
    color: white;
    font-size: 11px;
}
.b-disable {
    height: 36px;
    padding: 0px 20px;
    border-radius: 12px;
    background-color: #8A8787;
    color: white;
    text-align: center;
    font-size: 16px;
}
.b-main {
    height: 36px;
    padding: 0px 20px;
    border-radius: 12px;
    background-color: #F0A83E;
    color: white;
    text-align: center;
    font-size: 16px;
}