@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#barra-anuncio {
    background-color: #222222;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    padding: 4px;
    padding-top: 7px;
    border: 0;
    margin: 0;
    height: 26px;

}
#titulo-anuncio {
display: inline;
font-weight: 500;
font-size: 14px;
}
#opciones-barra {
    display: inline;
    position: relative;
    float: right;
}
select {
    color: #222222;
    font-weight: 500;
    font-size: 12px;
}

.botonera {
    background-color: #F0A83E;
}

#logo-top {
    margin-left: 4px;
}

.menu {
    text-align:right;
    display: inline-block;
  }
  
.menu li {
    margin-left: 2px;
    color: white;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    list-style-type: none;
    text-align: left;
    padding: 10px;
}
.main-banner {
    display: inline;
    z-index: -1;
    text-align: center;
}

.main-img {
    display: inline;
}

.banner-cta{
    display: inline;
    position: absolute;
    float: right;
    z-index: 1;
}
.banner-cta>h2{
    color: #3C2313;
    background-color: white;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
}
.banner-cta>h1{
    color: #3C2313;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.banner-cta>button{
    color: white;
    background-color: #F0A83E;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    border-radius: 8px;
    height: 48px;
    width: 140px;
    border: none;
}

.destacados {
    text-align: center;
}

.destacados>h2 {
    color: #3C2313;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}

.ul-destacados {
    display: inline-block;
    padding: 0;
}

.ul-destacados>li {
    margin-left: 2px;
    color: #666666;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    list-style-type: none;
    text-align: left;
}
.ficha-producto{
    background-color: #FBFAF6;

}
.ficha-producto>h3{
    color: #3C2313;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

}
.ficha-producto>p{
    color: #F0A83E;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;

}

.contacto{
    text-align: center;
}
.contacto>input{
    color: white;
    text-align: center;
    margin: 10px;
    background-color: #3C2313;
    border: 0;
    border-radius: 8px;
    height: 32px;
    width: 340px;
}
.contacto>h2 {
    color: #3C2313;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}
.b-main  {
    color: white;
    background-color: #F0A83E;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    border-radius: 16px;
    height: 36px;
    width: 100px;
    border: none;
}

.b-disable  {
    color: white;
    background-color: #8A8787;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    border-radius: 16px;
    height: 36px;
    width: 100px;
    border: none;
}

.suscribete{
    background-color: #F0A83E;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 30px;
    height: 80px;
    padding-top: 20px;
}
.suscribete>img{
    display: inline;
}
.suscribete>h2{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: white;
}
.div-suscribete{
    float: right;
}

.div-suscribete>button{
    color: white;
    background-color: #3C2313;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    border-radius: 16px;
    height: 36px;
    width: 100px;
    border: none;
}

.div-suscribete>input{
    color: white;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    border-radius: 16px;
    height: 36px;
    width: 340px;
    border: none;
    text-align: left;
    padding-left: 10px;
}

.footer-pet{
    background-color: #3C2313;
}
.footer-pet>h3{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
color: white;
}

.footer-pet>p{
font-family: 'Roboto', sans-serif;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 12px;
letter-spacing: 0em;
text-align: left;
color: #8A8787;
}

.barra-cierre{
    background-color: #222222;
    margin: 0;
    height: 30px;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    padding: 4px;
    padding-top: 7px;
    font-weight: 500;
    font-size: 11px; 
    text-align: center;
}
.barra-cierre>a{
    color: whitesmoke;
}