body{
    margin: 0;
    padding: 0;
}

            /* COLORES Y DIMENSIONES */
.boton-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 10;
}
.boton-mobile>i{ color: white;
}

.div1{
    background-color: #D1891C;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div2{
    background-color: #00669F;
    height: 80px;
    display: flex;;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: #00669F;
    height: 50px;
    width: 100%;
}
.tarjetero{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around

}
.tarjeta{
    background-color: #F3F3F3;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 300px;
    height: 550px;
    border-radius: 16px 16px 0px 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.10);
    position: relative;
    margin: 20px;
}

.imagenFondo{
    width: 100%;
    height: 190px;
    background-color: tomato;
    border-radius: 16px 16px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.imagenPerfil{
    background-color: greenyellow;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    position: relative;
    top: 60px;
    z-index: 1;
}
.like{
    position: absolute;
    left: 16px;
    top: 16px;
}
.abajo-carta { width: 100%;
    display: flex;
    justify-content: center;
}
.cta{
    background-color: #00669F;
    width: 130px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

            /* TEXTOS */
h1, h2, h3, p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: 0;
    color: white;
}

.div1>p{
    font-size: 15px;
    text-transform: uppercase;
}

.div2>h1{
    font-size: 20px;
    text-transform: uppercase;
}

.titulo-carta{
    width: 100%;
    margin-top: 40px;
    padding: 16px 0px;
    text-transform: uppercase;
    text-align: center;
    color: #333333;
}
.txt-carta{
    width: 100%;
    padding: 0px 40px;
    font-size: 15px;
    line-height: 19px;
    color: #333333;
}
footer>p{
    font-size: 13px;
    text-align: center;
}