#profile-image {
    margin: auto;
    display: block;
    width: 180px;
    position: relative;
    top: -5em;
    z-index: 0;
}

#BannerImg {
    background-image: url('../img/Fondo-Banner.jpg');
    background-repeat: repeat;
    height: 220px;
    position: sticky;
    z-index: -1;
}


.titular-grande {
    background-color: #C4C4C4;
    color: #005677;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}

.titular {
    background-color: #C4C4C4;
    color: #005677;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 3px;
    padding-left: 20px;
    text-transform: uppercase;
    text-align: left;
}

.fechas{
    color: #161616;
    display: inline;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: 600;
}

.info{
    display: inline;
}

.parrafo-sencillo {
    color: #161616;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: 400;
}