* {
    box-sizing: border-box;
}

/* ESPACIADO DESKTOP */
header, section, footer {
    padding: 0px 160px;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    counter-reset: section;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 45px 0px;
}

#MenuBar{
    display: flex;
    margin: 0;
    padding: 0;
}

#HamburMenu{display: none;}

#CTA {
    display: flex;
    margin-bottom: 100px;
}
.Left1 {
    width: 50%;
    text-align: left;
}
.Right1 {
    width: 50%;
    text-align: left;
}
/* LISTADO DIFFERENCE */
#Difference {
    display: flex;
    }

.ItemListado{
    flex-wrap: wrap;
    align-content: center;
}

.Numeral{
    height: 100%;
    padding: 0;
    margin-right: 24px;
}

.ItemListado h3::before{
    counter-increment: section;
    content: "  0" counter(section) "  ";
    
    color: white;

    text-align: center;
    border-radius: 24px;
    background-color: #F3603b;
    margin-right: 24px;
    padding: 14px 20px 12px 24px;
}

.ItemListado{
    display: flex;
}

#Testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}
#AllCards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    margin-bottom: 40px;
}
.TestiCard{
    display: flex;
    width: 460px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FAFAFA;
}

#TryNow {
    background-color: #F3603b;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

/* ----- Estilos de Footer ----- */
footer{
    color: white;
    background-color: #1E1E26;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 40px;
}
#SocialLinks{
    display: flex;
    padding: 0;
    justify-content: space-between;
}
.FooterDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.NavFooter{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 60px;
}
#MenuAbajo{
    display: flex;
}

/* ***** ESTILOS IMÁGENES / ICONOS ***** */
.TestiCard img{
    width: 80px;
    height: 80px;
    position: relative;
    bottom: 40px;
}



/* ESTILOS DE TEXTOS */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

h1, h2, h3, h4, h5, p, a, i, button, input {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    letter-spacing: 0.05rem;
} 
h1 {
    color: #232C50;
    font-size: 58px;
    font-weight: 700;
    line-height: 67px;
}
.Left1 p {
    width: 350px;
    line-height: 26px;
    color: #B3B2B7;
}

h2 {
    color: #232C50;
    font-size: 38px;
    font-weight: 700;
}
#TryNow h2 {
    width: 440px;
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.Primary{
    color: white;
    font-size: 0.8rem;
}
.Secondary{
    color: #F3603B;
    font-size: 0.8rem;
}

#MenuBar li{
    margin: 14px;
}
#menuH li a ,#MenuBar li a{
    text-decoration: none;
    font-size:0.8rem;
    color: #242E52;
}
#MenuBar li a:hover{
    color: #9196aa;
}

#Testimonials h2 {
    width: 100%;
    text-align: center;
}

#Difference h3 {
    color: #232C50;
    font-size: 1rem;
    font-weight: 700;
}
.ItemListado p {
    color: #B3B2B7;
    font-size: 1rem;
    line-height: 26px;
    margin-top: 16px;
    margin-bottom: 36px;
    margin-left: 95px;
}

.TestiCard h4{
    width: 100%;
    color: #232C50;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 20px;
}

.TestiCard p{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0px 30px;
    margin-bottom: 40px;
    color: #B9B9C1;
    line-height: 25px;
}
#Dots{display: none;}

.NavFooter li{
    margin-bottom: 16px;
}
.NavFooter li a{
    color: white;
    text-decoration: none;
    margin: 8px 0px;
    font-size:0.8rem;
    font-weight: 400;
}
.NavFooter li a:hover{
    color: #F3603b;
}
#CorreoForm{
    border: 0;
    border-radius: 22px;
    background-color:white;
    width: 200px;
    height: 44px;
    margin: 0rem 0.3rem;
    padding: 0px 1.2rem;
    cursor: pointer
}
#CorreoForm::placeholder{
    color: #B9B9C1;
    font-weight: 400;
}
#CorreoForm:focus-visible{
    outline: none;
    border: #F3603b solid 1px;
}

#EnviarForm{
    color: white;
    border: 0;
    border-radius: 22px;
    background-color: #F3603b;
    width: 64px;
    height: 44px;
    padding: 0;
    cursor: pointer
}
#EnviarForm:hover{
    background-color: #f88d72;
}

#SocialLinks{
    margin: 0;
    padding: 0;
}
#SocialLinks li a{
    color: white;
}

.FooterDiv p {
    text-align: right;
    color: #8C8C94;
    font-size: 12px;
    margin: 0;
}
#CopyMobile{display: none;}

/* ESTILO BOTONES */
.Primary{
    border: 0;
    border-radius: 22px;
    background-color: #F3603b;
    width: 134px;
    height: 44px;
    box-shadow: 0px 4px 8px rgba(242, 97, 59, 0.5);
    margin: 1.5rem 0;
    padding: 0;
    cursor: pointer
}
.Primary:hover{
    background-color: #f88d72;
    box-shadow: 0px 4px 8px rgba(242, 97, 59, 0.6);
}
.Secondary{
    border: 0;
    border-radius: 22px;
    background-color:white;
    width: 134px;
    height: 44px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    margin: 1.5rem 0;
    padding: 0;
    cursor: pointer
}
.Secondary:hover{
    color: #fda089;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.30);
}
.FooterDiv img{
    margin-right: 20px;
}
.FooterDiv i{
    font-size: 1.4rem;
}
.FooterDiv i:hover{
    color: #F3603b;
}


/* +++++++++++ FONDOS +++++++++++ */
#Fondo1{
    position: absolute;
    top: -300px;
    right: -130px;
    z-index: -1;
}
#Fondo2{
    position: absolute;
    bottom: -950px;
    left: -500px;
    z-index: -1;
}

#TryNow{
    width: 100%;
    height: 100%;
    background-image: url("/EntregaFinal-FE1/imagenes/bg-simplify-section-desktop.svg");
    background-repeat: repeat-x;
    background-position-y: bottom;
    animation: desplazamiento 5000ms linear infinite;
}


/* ANIMACIONES */

@keyframes desplazamiento{
    0%{
        background-position-x: right;
    }
    100%{
        background-position-x: 1440px;
    }
}

/* MEDIA QUERY MOBILE */
@media (max-width: 376px){

    header, section, footer {
        width: 100vw;
        padding: 0px 20px;
    }

    #MenuBar{ display: none;}
    header button { display: none;}

    #logoTop{width: 120px;}

    #CTA{flex-direction: column-reverse; margin-bottom: 32px;}

    .Left1{width: 100%; text-align: center;}
    .Right1{width: 100%; text-align: center;}

    #CTA img {width: 100%;}
    #Difference, footer {flex-direction: column;}

    #Testimonials{margin-bottom: 20px;}

    #AllCards{
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    #Testi2{width: 100%;}
    #Dots{display: initial; width: 60px; margin: 8px;}
    #Testi1, #Testi3 {display: none;}


/* ******** HAMBURGESA CODEPEN modificado inicio */

    #HamburMenu{
        display: initial;
        position: absolute;
        right: 10px;
        top: 40px;
    }

    #menuToggle{
    display: block;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
    }

    #menuToggle a{
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
    }
    #menuH li a{
        font-size: 1rem;
    }

    #menuToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
    }

    /* estilos spans hamburguesa */
    #menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #232C50;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    }

    #menuToggle span:first-child{
    transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
    }

    /* Animacion transformacion hamburguesa. */
    #menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
    }

    #menuToggle input:checked ~ span:nth-last-child(3)
    {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2)
    {
    transform: rotate(-45deg) translate(0, -1px);
    }

    /* posicion absoluta hamburguesa*/

    #menuH{
    position: absolute;
    width: 300px;
    margin: -90px 0 0 -250px;
    padding: 125px 70px 100vh 50px;
    
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menuH li{
    padding: 10px 0;
    font-size: 2rem;
    text-align: right;
    }

    #menuToggle input:checked ~ ul{
    transform: none;
    }

/* ******** HAMBURGESA CODEPEN fin */ 
/* fuente: https://codepen.io/erikterwan/pen/EVzeRP?editors=0100 */ 


    /* ACOMODAR FOOTER */

    .FooterDiv{align-items: center;}
    .NavFooter{margin: 0 30px;}
    footer{align-items: center;}
    #LogoRedes{order: 3;
    flex-direction: column-reverse;
    align-items: center;}
    #logoFooter{margin-bottom: 20px;}
    #FormFooter {order: 1; margin-top: 32px;}
    .FooterDiv img{margin: 0}
    #MenuAbajo{order: 2; margin-top: 32px;}
    #logoFooter{width: 140px;}
    #FormFooter p{position: relative; bottom: 20px;}
    #CopyDesktop{display: none;}

    #CopyMobile{display: initial;
        text-align: center;
        color: #8C8C94;
        font-size: 12px;
        font-weight: 400;
        margin: 8px;
        order: 4;
    }

    #SocialLinks{
        margin: 32px 0px;}

    .FooterDiv a{margin: 20px;}
    .FooterDiv i{font-size: 2rem;}


    /* ======== MOBILE TEXTOS ========= */

    h1 {
        font-size: 36px;
        line-height: 40px;
    }
    .Left1 p {
        width: 100%;
        margin-bottom: 40px;
    }

    h2 {
        font-size: 32px;
        line-height: 36px;
        text-align: center;
    }

    #TryNow{justify-content: center;}
    
    #TryNow h2{
        font-size: 36px;
        padding: 0px 10px;
        line-height: 44px;}

    .ItemListado p {
        color: #B3B2B7;
        font-size: .8rem;
        line-height: 1.5rem;
        text-align: left;
        margin: 18px 0px 42px 0px;
        padding: 0 20px;
    }

    .ItemListado h3{
        width: 100%;
        text-align: left;
        margin: 0;
        background-color: #FCF1EB;
        padding: 10px 0px;
        letter-spacing: 0.03rem;
    }

    .ItemListado h3::before{
        text-align: center;
        border-radius: 24px;
        background-color: #F3603b;
        margin-right: 12px;
        margin-left: 16px;
        padding: 10px 12px 10px 16px;
    }
    .Primary{margin: 0;}

    #Difference{
        margin-top: 50px;
        padding: 0;
    }

    #Difference .Left1 {
        padding: 0 20px;
    }

/* +++++++++++ FONDOS MOBILE +++++++++++ */
#Fondo1{
    width: 455px;

    top: -130px;
    right: -130px;
}
#Fondo2{
    width: 300px;

    left: auto;
    bottom: auto;
    top: 530px;
    right: -170px;
}

/* ANIMACIONES MOBILE */

@keyframes desplazamiento{
    0%{
        background-position-x: right;
    }
    100%{
        background-position-x: 376px;
    }
}
}